.hero-benar{
    background-image: url(../images.jfif);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.fs-80{
    font-size: 80px;
}
button.btn.btn-success {
    background-color: red;
}
.bg-primary {
    background-image: url(../images.jfif);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
